<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div id="mine_container">
			<div class="user_header">
				<img class="head_url" src="img/default.png" />
				<div class="top_info">
					<p class="username">
						-
						<!-- <span class="userid">ID:100</span> -->
					</p>
					<a id="tel" href="">专属客服</a>
				</div>
				
				<div class="user_title">
					<div class="left" id="type">普通顾问<!--黄金顾问--></div>
					<div class="center">平台奖励 <span>5</span> 元/单</div>
					<div class="right">查看规则&gt;</div>
				</div>			
			</div>
			
			<div class="earnings">
				<div class="flex_box flex_box_top">
					<div class="flex_item">
						<span class="value" id="zsr">￥0.00</span>
						<span class="title">总收入</span>
					</div>
					<div class="flex_item">
						<span class="value" id="yjsr">￥0.00</span>
						<span class="title">佣金收入</span>
					</div>
					<div class="flex_item">
						<span class="value" id="ptjl">￥0.00</span>
						<span class="title">平台奖励</span>
					</div>
				</div>
				<div class="flex_box">
					<div class="flex_item">
						<span class="value" id="byss">￥0.00</span>
						<span class="title">本月实时</span>
					</div>
					<div class="flex_item">
						<span class="value" id="ytx">￥0.00</span>
						<span class="title">已提现</span>
					</div>
					<div class="flex_item">
						<span class="value" id="ktx">￥0.00</span>
						<span class="title">可提现</span>
					</div>
				</div>
			</div>
			
			<div class="mine_menu">
				<div class="flex_box">
					<div class="flex_item" ng-click="toTeamData()">
						<img src="img/mine02.png" >
						<span class="title">团队数据</span>
					</div>
					<div class="flex_item" ng-click="toLoanData()">
						<img src="img/mine03.png" >
						<span class="title">订单数据</span>
					</div>
					<div class="flex_item" ng-click="toPlatformService()">
						<img src="img/mine04.png" >
						<span class="title">平台客服</span>
						<!--<a href="tel://17316886194">
						</a>-->
					</div>
					<div class="flex_item">
						<img src="img/mine01.png" >
						<span class="title">我的消息</span>
					</div>
				</div>
			</div>
			
			<div class="adv zbmm">
				<img src="img/adv01.png" >
			</div>
			
			<h4>实用工具</h4>
			<ul class="tools">
				<li class="zbmm">
					招兵买马
					<img src="img/arrow.png" >
				</li>
				<li class="wszl">
					完善资料
					<img src="img/arrow.png" >
				</li>
				<li class="sqtx">
					申请提现
					<img src="img/arrow.png" >
				</li>
				<li>
					我要报备
					<img src="img/arrow.png" >
				</li>
			</ul>
			
			<div class="emptyBar">
				
			</div>
		</div>
	
		<div class="askInfoMask" >			
			<div class="innerForm" >
				<div class="clear">
					<img src="img/clear.png" />					
				</div>
				<div class="formZone">
					<div class="left">
						<img id="kfImg" src="" />					
					</div>
						
				</div>
					
			</div>
		</div>
	</body>
</html>
