* {
  margin: 0;
  padding: 0; }

.clear {
  clear: both;
  height: 1px; }

#loading {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.3);
  z-index: 99999;
  display: none; }
  #loading img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 100000;
    width: 80px;
    animation: rotate 1s infinite; }

@keyframes rotate {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg); } }